
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body  class="inner">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:8098/index" class="brand-logo">
      <img src="images/logo-1.png">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Rahul Raj</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Rahul Raj</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">


    </div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      
            <div class="row">
                <div class="row valign-wrapper recipy-ctr">
                <div class="col s2">
                    <img src="images/profile-pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                <span class="black-text">
                    <strong>Anshu Chopra</strong> 
                    <div class="location clr">
                        Email : anshu@yahoo.com<br>
                        Phone : 2154875487<br>
                        Location : 
                    </div> 
                </span>
                </div>
                </div>
            </div>


        <h5>Complete your profile</h5>
            <div class="row">
                <div class="col s6">
                    <div class="row">
                          <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Address 1</label>
                          </div>
                        </div>
                </div>
                <div class="col s6">
                    <div class="row">
                            <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Address 2</label>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="row">
                          <div class="input-field col s6">
                            <input id="zip code" type="number" class="validate">
                            <label for="zip code">Zip Code</label>
                          </div>
                        </div>
                </div>
                <div class="col s6">
                    <div class="row">
                          <div class="input-field col s6">
                            <select multiple>
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Banglore</option>
                              <option value="2">Gurgaon</option>
                              <option value="3">Delhi</option>
                              <option value="3">Noida</option>
                            </select>
                            <label>Select your city</label>
                          </div>
                        </div>

                        <div class="">
                           <a class="waves-effect waves-light btn tab right">Complete Profile</a> <a class="waves-effect waves-light btn tab right" style="margin-right: 30px;">Add Receipe</a> 
                        </div>
            </div><br><br>
           

            
    
        <!--<div class="col s12">
              <div class="section center">
              <h5>Add daily recipies here!</h5>
              </div>

                    <form>
                    <div class="col s12">
                      <div class="row">
                          <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Add your recipies (Recipe1, Recipe2, Recipe3, ...)</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s6">
                            <select multiple>
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Breakfast 7:00 AM to 8:00 AM</option>
                              <option value="2">Lunch 11:00 AM to 12:00 PM</option>
                              <option value="3">Snacks 3:00 PM to 4:00 PM</option>
                              <option value="3">Dinner 6:00 PM to 7:00 PM</option>
                            </select>
                            <label>Order placement time</label>
                          </div>

                          <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Add price</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="file-field input-field">
                            <div class="btn">
                              <span>Upload pic</span>
                              <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </div>
                    </div>
                    </form>

                <div class="">
                  <a class="waves-effect waves-light btn tab right">Add Recipie</a>
                </div>
            </div>-->
  
    

            </div>
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright 2016
      </div>
    </div>

  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>

  </body>
</html>
