
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body  class="inner">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
      <img src="images/logo-1.png">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">


    </div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div>
          <div class="row">
          <div class="input-field col s6">
            <select id="timelist">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Breakfast 7:00 AM to 8:00 AM</option>
              <option value="2">Lunch 11:00 AM to 12:00 PM</option>
              <option value="3">Snacks 3:00 PM to 4:00 PM</option>
              <option value="4">Dinner 6:00 PM to 7:00 PM</option>
            </select>
            <label>Order placement time</label>
          </div>

          
            <form class="col s6">
              <div class="row">
                <div class="input-field col s12">
                  <input id="zip" type="text" class="validate">
                  <label for="zip">Search by Zip</label>
                </div>
              </div>
            </form>
          </div>
        </div>
          
        </div>

         <% for(var i=0;i<Data.details.length;i++){%>
         <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper recipy-ctr">
              <div class="col s2">
                <img src="images/users/cassie_A.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong><%=Data.details[i].name %></strong> <a class="waves-effect waves-light btn tab right">Send your request</a>
                  <div class="location clr">Location : Sector 62</div> 
                  <div class="price"><%=Data.details[i].price %>/- Only</div>
                  <ul class="recipy-list">
                    <li>Rajma</li>
                    <li>Rice</li>
                    <li>Roti (4)</li>
                    <li>Raita</li>
                    <li>Salad</li>
                  </ul> <a class="waves-effect waves-light btn red right">Check chef profile</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <%}%>
       
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Powered by <a class="orange-text text-lighten-3" href="http://materializecss.com">Love Cooking</a>
      </div>
    </div>

    <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
  <script src="javascripts/index.js"></script>

  </body>
</html>
