
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body  class="inner">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:8098/index" class="brand-logo">
      <img src="images/logo-1.png">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Rahul Raj</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Rahul Raj</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">


    </div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div>
          <div class="row">
          <div class="input-field col s6">
            <select id="timelist">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Breakfast 7:00 AM to 8:00 AM</option>
              <option value="2">Lunch 11:00 AM to 12:00 PM</option>
              <option value="3">Snacks 3:00 PM to 4:00 PM</option>
              <option value="4">Dinner 6:00 PM to 7:00 PM</option>
            </select>
            <label>Order placement time</label>
          </div>

          
            <form class="col s6">
              <div class="row">
                <div class="input-field col s12">
                  <input id="zip" type="text" class="validate">
                  <label for="zip">Search by Zip</label>
                </div>
              </div>
            </form>
          </div>
        </div>
          
        </div>

         <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper recipy-ctr">
              <div class="col s2">
                <img src="images/users/divya_A.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Anshu Chopra</strong> <a class="btn modal-trigger waves-effect waves-light btn tab right " data-target="modal1">View Dishes</a>
                  <div class="location clr">Location : Sector 62</div> 
                  <a class="waves-effect waves-light btn red right" href="http://localhost:8098/chef">Check chef profile</a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper recipy-ctr">
              <div class="col s2">
                <img src="images/users/pic-4.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Ayesh Kumari</strong> <a class="btn modal-trigger waves-effect waves-light btn tab right " data-target="modal1">View Dishes</a>
                  <div class="location clr">Location : Sector 62</div> 
                  <a class="waves-effect waves-light btn red right" href="http://localhost:8098/chef">Check chef profile</a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper recipy-ctr">
              <div class="col s2">
                <img src="images/users/pic-1.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Priti Saxena</strong> <a class="btn modal-trigger waves-effect waves-light btn tab right " data-target="modal1">View Dishes</a>
                  <div class="location clr">Location : Sector 62</div> 
                  <a class="waves-effect waves-light btn red right" href="http://localhost:8098/chef">Check chef profile</a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper recipy-ctr">
              <div class="col s2">
                <img src="images/users/pic-2.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <strong>Divya Singh</strong> <a class="btn modal-trigger waves-effect waves-light btn tab right " data-target="modal1">View Dishes</a>
                  <div class="location clr">Location : Sector 62</div> 
                  <a class="waves-effect waves-light btn red right" href="http://localhost:8098/chef">Check chef profile</a>
                </span>
              </div>
            </div>
          </div>
        </div>
        
       
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
 <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
     <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper recipy-ctr">
            <div class="col s2">
                <img src="images/rec-5.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
            <span class="black-text">
                <div class="right">
                    <div class="input-field col right s10">
                        <input id="icon_prefix" type="number" class="validate">
                        <label for="icon_prefix">Add quantity</label>
                    </div><br><br>
                    <a class="waves-effect waves-light btn tab right">Add to order</a>
                </div>
                <div>
                <ul class="recipy-list">
                    <li>Paneer, </li>
                    <li>Naan, </li>
                    <li>Raita, </li>
                    <li>Salad</li>
                </ul>
                </div><br><br>
                <div><h4 class="price">90</h4></div>
            </span>
            </div>
        </div>
    </div>

    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper recipy-ctr">
            <div class="col s2">
                <img src="images/rec-1.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
            <span class="black-text">
                <div class="right">
                    <div class="input-field col right s10">
                        <input id="icon_prefix" type="number" class="validate">
                        <label for="icon_prefix">Add quantity</label>
                    </div><br><br>
                    <a class="waves-effect waves-light btn tab right">Add to order</a>
                </div>
                <div>
                <ul class="recipy-list">
                    <li>Dal Fry, </li>
                    <li>Tawa Roti, </li>
                    <li>Custurd, </li>
                    <li>Salad</li>
                </ul>
                </div><br><br>
                <div><h4 class="price">100</h4></div>
            </span>
            </div>
        </div>
    </div>

    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper recipy-ctr">
            <div class="col s2">
                <img src="images/rec-3.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
            <span class="black-text">
                <div class="right">
                    <div class="input-field col right s10">
                        <input id="icon_prefix" type="number" class="validate">
                        <label for="icon_prefix">Add quantity</label>
                    </div><br><br>
                    <a class="waves-effect waves-light btn tab right">Add to order</a>
                </div>
                <div>
                <ul class="recipy-list">
                    <li>Yellow Dal, </li>
                    <li>Tawa Roti, </li>
                    <li>Raita, </li>
                    <li>Bhindi</li>
                    <li>Gulab Jamun</li>
                </ul>
                </div><br><br>
                <div><h4 class="price">120</h4></div>
            </span>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright Rasoi.
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
  <script src="javascripts/index.js"></script>

  </body>
</html>
