<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="login-container">
          <div class="col s6">
                <img class="responsive-img" src="images/subscribe.jpg">
            </div>
                <div class="col s6">
                  <div class="row">
                    
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s3"><a href="#test1" class="waves-effect waves-light btn-flat tab">Login</a></li>
                        <li class="tab col s3"><a href="#test2" class="waves-effect waves-light btn-flat right tab">New User Register Here</a></li>
                      </ul>
                    </div>
                </div>
                <div id="test1">
                  <div class="section center">
                  <h5>See your account now</h5>
                  <p>Get unlimited menus of foods and it's easy to order.</p>
                  </div>

                  <div class="row">
                      <div class="input-field col s12">
                        <input id="user_name" type="text" name="user_name" class="validate">
                        <label for="user_name">Username</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12">
                        <input id="password" type="password" name="password"class="validate">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <a id="btnLogin" class="waves-effect waves-light btn tab right">Login</a>
                </div>
            </div> <!-- login tab end -->

            <div id="test2">
              <div class="col s6">
              <div class="section center">
                <h5>See your account now</h5>
                <p>Get unlimited menus of foods and it's easy to order.</p>
              </div>

                    <form>
                      <div class="row">
                        <div class="input-field col s6">
                          <input type="checkbox" class="filled-in" id="filled-in-box" />
                          <label for="filled-in-box">Register as a Consumer</label>
                        </div>

                        <div class="input-field col s6">
                          <input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
                          <label for="filled-in-box1">Register as a Provider</label>
                        </div>
                      </div>
                    <div id="test1" class="col s12">
                      <div class="row">
                          <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate">
                            <label for="first_name">Last Name</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" type="number" class="validate">
                            <label for="email">Mobile (Your mobile will be your username)</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s6">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Address 1</label>
                          </div>
                          <div class="input-field col s6">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Address 2</label>
                          </div>
                        </div>

                        <div class="row">
                          <div class="input-field col s6">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Zip Code</label>
                          </div>
                          <div class="input-field col s6">
                            <select>
                              <option value="" selected>Choose your option</option>
                              <option value="1">Noida</option>
                              <option value="2">Delhi</option>
                              <option value="3">Gurgaon</option>
                              <option value="3">Banglore</option>
                              <option value="3">Pune</option>
                            </select>
                            <label>Select City</label>
                          </div>
                        </div>

                    </div>
                    </form>

                <div class="">
                  <a class="waves-effect waves-light btn tab right">Register</a>
                </div>
            </div>
            </div> <!-- Register tab end -->
        </div> <!-- login-container end -->
      </div>
    </div>
  </div>

 


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
  <script src="javascripts/login.js"></script>
  <script src="javascripts/helper.js"></script>
  </body>
</html>